<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
</head>
<body>

    <img src="cid:logo">

    <h2>Password Reset Successful</h2>

    <p>
        Recent activity - password change was made on this email {{email}} on {{when}} using the following browser {{browsername}} and an IP address {{ipAddress}}
    </p>

    <h3>You are recieving this email, because you recently resetted your {{appName}} authentication password.</h3>

    <p>We're thrilled to have your account secured, if this event (Reset password) wasn't conducted by you. Quickly contact us via </p>

    <a href="mailto:{{supportTeam}}">Customer Support Team</a>
    
</body>
</html>